# Ignore virtual environment
venv/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore database file
*.db

# Ignore logs
*.log

# Ignore migration files
migrations/

# Ignore environment variables file
.env